<div class="container">
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">
      <label>Seed Name:</label>
      <input
        type="text"
        id="seed_name"
        class="form-control"
        ngModel
        name="seed_name"
        required
        seedname
      />
    </div>
    <div class="form-group">
      <label>Amount to Plant:</label>
      <input
        type="number"
        id="amount"
        class="form-control"
        ngModel
        name="amount"
        required
        amount
      />
    </div>
    <div class="form-group">
      <label>Weeks to Maturity:</label>
      <input
        type="number"
        id="weeks_to_mature"
        class="form-control"
        ngModel
        name="weeks_to_mature"
      />
    </div>
    <div class="form-group">
      <label for="season">Ideal Growing Season:</label>
      <select
        id="growing_season"
        class="form-control"
        [ngModel]="defaultSeason"
        name="growing_season"
      >
        <option value="spring">Spring</option>
        <option value="summer">Summer</option>
        <option value="fall">Fall</option>
        <option value="winter">Winter</option>
      </select>
    </div>
    <div class="form-group">
      <label>When Planted:</label>
      <input
        type="date"
        id="when_planted"
        class="form-control"
        ngModel
        name="when_planted"
      />
    </div>
    <button class="btn btn-success" type="submit" [disabled]="!f.valid">
      Add
    </button>
  </form>
  <br />
  <div>
    <button class="btn btn-dark" (click)="onClear()">Clear All</button>
  </div>
</div>

<div class="container" *ngIf="plants.length != 0">
  <h4>Your List:</h4>
  <div>
    <p>Got something in the ground? Hover over the seed name and click to move it to your "Has Been Planted List" </p>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p><b>Seed Name:</b></p>
    </div>
    <div class="col-md-2">
      <p><b>Amount:</b></p>
    </div>
    <div class="col-md-2">
      <p><b>Maturity:</b></p>
    </div>
    <div class="col-md-2">
      <p><b>Season:</b></p>
    </div>
    <div class="col-md-2">
      <p><b>Date Planted:</b></p>
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <div *ngFor="let p of plants; let i = index">
    <div *ngIf="p.has_been_planted ==false" class="row">
      <div class="col-md-3">
        <p style="cursor:pointer" (click)="onMove(i)">{{ p.seed_name }}</p>
      </div>
      <div class="col-md-2">
        <p>{{ p.amount }}</p>
      </div>
      <div class="col-md-2">
        <p>{{ p.weeks_to_mature }}</p>
      </div>
      <div class="col-md-2">
        <p>{{ p.growing_season }}</p>
      </div>
      <div class="col-md-2">
        <p>{{ p.when_planted }}</p>
      </div>
      <div class="col-md-1">
        <!-- passing through the p.id instead of index  -->
        <button type="button" class="btn btn-danger btn-small" (click)="onDelete(p.id)">D</button>
      </div>
    </div>
  </div>
</div>
