<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p><b>Seed Name:</b></p>
    </div>
    <div class="col-md-2">
      <p><b>Amount:</b></p>
    </div>
    <div class="col-md-2">
      <p><b>Maturity: </b></p>
    </div>
    <div class="col-md-2">
      <p><b>Season:</b></p>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
      <p><b>Planted On: </b></p>
    </div>
    <div class="col-md-1">
    </div>
  </div>

  <div *ngFor="let p of plants; let i = index">
  <div class="row">
    <div class="col-md-3">
      <p>{{ p.seed_name }}
      </p>
    </div>
    <div class="col-md-2">
      <p>{{ p.amount }}</p>
    </div>
    <div class="col-md-2">
      <p>{{ p.weeks_to_mature }}</p>
    </div>
    <div class="col-md-2">
      <p>{{ p.growing_season }}</p>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
      <p>{{ p.when_planted }}</p>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
</div>
